
.popup__input-error {
  display: none;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color:  #F00;
}

.popup__input_type_error {
  border-bottom-color: #F00;
  margin-bottom: 0px;
}

.popup__input-error_active {
  display: block;
  margin-top: 5px;
}